<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100" id="navbar-top">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" placement="bottom" [routerLink]="['/home']" target="_blank"
        tooltip="Securityinvestment">
        <span>  </span> Securityinvestment
      </a>

    </div>
    <div class="navbar-collapse justify-content-end"    id="navigation">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> STI </a></div>
          <div class="col-6 collapse-close text-right">
            <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a class="nav-link" (click)="onHomeRouter()" placement="bottom" target="_blank"
            tooltip="ir al Home">
            <i class="tim-icons icon-bank"></i> Inicio
            <p class="d-lg-none d-xl-none">Inicio</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" (click)="onHelpRouter()" placement="bottom" target="_blank"
            tooltip="ir a la ayuda">
            <i class="tim-icons icon-bulb-63"></i> Ayuda
            <p class="d-lg-none d-xl-none">Ayuda</p>
          </a>
        </li>

        <li class="nav-item p-0">
          <a class="nav-link" (click)="onCommentsRoute()" placement="bottom" target="_blank"
            tooltip="ir a opinion">
            <i class="tim-icons icon-single-copy-04"></i> Deja tu opinion
            <p class="d-lg-none d-xl-none">Deja tu opinion</p>
          </a>
        </li>

        <div class=" dropdown show" dropdown>
          <a aria-expanded="false" aria-haspopup="true" class=" btn btn-secondary dropdown-toggle dropdown-toggle" data-toggle="dropdown" dropdownToggle id="dropdownMenuLink" role="button">
            ¡ Vamos ! <i *ngIf="longin" class="tim-icons icon-single-02"></i>
          </a>
          <div aria-labelledby="dropdownMenuLink" class=" dropdown-menu" *dropdownMenu>
            <div *ngIf="longin; else elseBlock">
              <a   class=" dropdown-item" [routerLink]="['/profile']">
                Perfil
              </a>
            </div>
            
            <ng-template #elseBlock>
              <a 
                (click)="myModal2.show()"
                class=" dropdown-item">
                Iniciar Sesion
              </a>
            </ng-template>
            
            <a *ngIf="longin" 
              (click)="onLongOut()"
              href="#"
              class=" dropdown-item" >
              Cerrar
            </a>
            <div class=" dropdown-divider"></div>
            <a  
              [routerLink]="['/register']"
              class=" dropdown-item" >
              Registrarse
            </a>
          </div>
        </div>
        
      </ul>
    </div>
  </div>
</nav>

<div
      aria-hidden="true"
      aria-labelledby="myModalLabel"
      bsModal
      class="modal fade modal-black"
      #myModal2="bs-modal"
      id="myModal2"
      role="dialog"
      tabindex="-1"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button
              aria-hidden="true"
              class="close"
              data-dismiss="modal"
              (click)="myModal2.hide()"
              type="button"
            >
              <i class="tim-icons icon-simple-remove text-white"> </i>
            </button>
            <div class="text-muted text-center ml-auto mr-auto">
              <h3 class="mb-0">Inicia sesion</h3>
            </div>
          </div>
          <div class="modal-body">
            <div class="text-center text-muted mb-4 mt-3">
              <small> Puedes iniciar sesion en esta ventana </small>
            </div>
            <form role="form">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative" >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="tim-icons icon-email-85"> </i>
                    </span>
                  </div>
                  <input
                    autocomplete="off" [(ngModel)]="email"
                    class="form-control"
                    placeholder="Email"
                    type="email"
                    
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative" >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="tim-icons icon-key-25"> </i>
                    </span>
                  </div>
                  <input
                    autocomplete="off" [(ngModel)]="password"
                    class="form-control"
                    placeholder="Password"
                    type="password"
                  />
                </div>
              </div>
              <div class="form-check mt-3">
                <label class="form-check-label">
                  <input
                    checked="checked"
                    class="form-check-input"
                    type="checkbox"
                  />
                </label>
              </div>
              
              <div class="text-center">
                <button class="btn btn-wrapper my-4" type="button" (click)="onLoginSesion()">
                  Iniciar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
