<div class="text-center text-muted mb-4 mt-3">
  <small> Puedes iniciar sesion en esta ventana </small>
</div>
<form role="form">
  <div class="form-group mb-3">
    <div class="input-group input-group-alternative" >
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="tim-icons icon-email-85"> </i>
        </span>
      </div>
      <input
        class="form-control"
        placeholder="Email"
        type="email"
        
      />
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-alternative" >
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="tim-icons icon-key-25"> </i>
        </span>
      </div>
      <input
        class="form-control"
        placeholder="Password"
        type="password"
      />
    </div>
  </div>
  <div class="form-check mt-3">
    <label class="form-check-label">
      <input
        checked="checked"
        class="form-check-input"
        type="checkbox"
      />
    </label>
  </div>
  <div class="text-center">
    <button class="btn btn-wrapper my-4" type="button" (click)="onLoginSesion()">
      Iniciar
    </button>
  </div>
</form>
