.transacctionTrue {
    color: rgb(133, 235, 129);
}

.transacctionFalse {
    color: rgb(241, 111, 88);
}

.transacctionNull {
    color: rgb(241, 238, 11);
}

.table-container {
  max-height: 500px; /* Scroll vertical si hay muchas filas */
  overflow-y: auto;
  overflow-x: auto; /* Scroll horizontal si hay muchas columnas */
}

.scrollable-table {
  width: 100%;
  min-width: 600px; /* Forzar scroll horizontal si necesario */
  border-collapse: collapse;
}

.scrollable-table th,
.scrollable-table td {
  padding: 8px;
  white-space: nowrap;
  text-align: left;
}

.scrollable-table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}