<div class="main">
  <div class="row">
    <div class="col">
      <div class="section pt-8">
        <div class="container">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Nombre</th>
                <th>Pais</th>
                <th >Monto</th>
                <th>Plataforma</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <td class="text-center">2</td>
                <td>John Doe</td>
                <td>Colombia</td>
                
                <td >$ 89,241</td>
                <td>Cripto algo testing</td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" class="btn btn-info btn-sm btn-round btn-icon">
                    <i class="tim-icons icon-single-02"></i>
                  </button>
                  <button type="button" rel="tooltip" class="btn btn-success btn-sm btn-round btn-icon">
                    <i class="tim-icons icon-settings-gear-63"></i>
                  </button>
                  <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon">
                    <i class="tim-icons icon-simple-remove"></i>
                  </button>
                </td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>