.index-page .squares {
  //@include linear-gradient($danger-states, $danger);
}
.register-page,
.section.section-signup {
  .squares,
  .square {
    @include linear-gradient($success-states, $primary);
  }
}
.footer {
  border-top: 2px solid $yellow;
  bottom: 0;
  position: absolute;
  width: 100%;
}
